.theme_container{
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
    background-color: rgb(240, 240, 240);
    border-radius: 1em;
    padding-bottom: 0.5em;
}

.theme_title{
    font-size: 1.8em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
    font-weight: 600;
}

.theme_description{
    font-size: 1.8em;
    margin: 0;
    padding: 0.7em 1em 0.7em 1em;
}

.subscribe{

    background-color: rgba(119,99,196,255);
    font-size: 1.8em;
    color: white;
    padding: 0.5em 3em;
    border-radius: 0.5em;
    font-weight: 500;
    display: flex;
    margin: auto;
    margin-bottom: 0.4em;
    cursor: pointer;
}
