<app-header></app-header>

<div class="profile_page">
  <h2 class="title">Profil utilisateur</h2>

  <form [formGroup]="form">
    <div class="form_input">
      <input type="text" id="username" formControlName="username">
    </div>
    <div class="form_input">
      <input type="email" id="email" formControlName="email">
    </div>
    <div class="form_input">
      <input type="password" id="password" formControlName="password">
    </div>
    @if(onError) {<p class="error">An error occurred</p>}
    <button class="submit" type="submit" (click)="onSubmit()">Sauvegarder</button>
  </form>
  <button class="disconnect" (click)="onDisconnect()">Se déconnecter</button>
</div>

<div class="separator"></div>

<div class="subscribes">
  <h2 class="title">Abonnements</h2>

  @for (themeElement of _themesProps(); track themeElement.theme.themeId) {
  <app-theme class="theme" [themeProps]="themeElement" [articleView]="false"></app-theme>
  }
</div>
