
<app-header></app-header>

<button class="back" routerLink="/articles">
    <mat-icon class="arrow">keyboard_backspace</mat-icon>
</button>

<div class="article_container">
    <h2 class="title">{{_article().title}}</h2>
    <div class="metadata_container">
        <span class="metadata">{{_article().date}}</span>
        <span class="metadata" id="middle">{{_article().author}}</span>
        <span class="metadata">{{_article().theme}}</span>
    </div>
    <p class="article_content">Content: {{_article().content}}</p>


    <div class="separator"></div>


    <p class="subtitle">Commentaires</p>
    @if (_article().comments !== null) {
        @for (comment of _article().comments; track $index) {
            <div class="comment_container">
                <div>
                    <p class="author">{{comment.author}}</p>
                </div>
                <div class="comment_div">
                    <p class="comment_content">{{comment.content}}</p>
                </div>
            </div>
        }
    }
    </div>

    @if(onError) {<p class="error">An error occurred</p>}
    <div class="send_comment">
        <form [formGroup]="form" class="form">
            <div class="form_input">
                <textarea class="input" type="text" formControlName="content" placeholder="Écrivez ici votre commentaire"></textarea>
            </div>
            <div class="button_container">
                <button class="send_button" (click)="onClick()">
                    <mat-icon class="send">send</mat-icon>
                </button>
            </div>
        </form>
    </div>
