section{
    text-align: center;
}

.logo{
    padding-top: 7%;
    width: 30%;
}

.link_button{
    display: inline;
}

.button{
    border-radius: 0.7em;
    font-size: 1.3em;
    color: black; //why not working

    margin: 5em;
    padding: 1.3em 2em 1.3em 2em;
}
