<button class="back" routerLink="/auth">
    <mat-icon class="arrow">retour</mat-icon>
</button>

<nav class="header">
    <div class="logo_div">
        <img class="logo" src="assets/icon.svg" alt = "App logo">
    </div>
</nav>

<div class="register_page">

    <h2 class="title">Inscription</h2>

    <form [formGroup]="registerForm">
        <div class="form_input">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" formControlName="username">
        </div>
        <div class="form_input">
            <label for="email">Adresse e-mail</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div class="form_input">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <button class="submit" type="submit" (click)="onSubmit()">S'inscrire</button>
    </form>
    @if(onError) {<span  class="error">An error occurred</span>}

</div>
